@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202A] text-gray-300;
  }
}

.retatedSideImage {
  height: 40%;
  width: 40%;
  position: absolute;
  bottom: 50%;
  right: 0%;
  transform: rotate(20deg);
}

.bigCenteredCard {
  width: 50%;
  position: relative;
  top: 20%;
  margin: auto;
  background: white;
  height: 65%;
  box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.42)
}

#addProjectPage {
  background: #F3F4F6;
  height: 100%;
  width: 100%;
  position: absolute;
}
